WebApplicationE/Connected Services/CRUDService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BubbleSort">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="A" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="B" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="C" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="D" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BubbleSortResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BubbleSortResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fib">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FibResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FibResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Bmi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="kg" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="m" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BmiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BmiResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteNameResult" type="tns:ArrayOfCard" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCard">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Card">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nam" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllData">
        <s:complexType />
      </s:element>
      <s:element name="GetAllDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllDataResult" type="tns:ArrayOfCard" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nam" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewDataResult" type="tns:ArrayOfCard" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nam" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataResult" type="tns:ArrayOfCard" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="BubbleSortSoapIn">
    <wsdl:part name="parameters" element="tns:BubbleSort" />
  </wsdl:message>
  <wsdl:message name="BubbleSortSoapOut">
    <wsdl:part name="parameters" element="tns:BubbleSortResponse" />
  </wsdl:message>
  <wsdl:message name="FibSoapIn">
    <wsdl:part name="parameters" element="tns:Fib" />
  </wsdl:message>
  <wsdl:message name="FibSoapOut">
    <wsdl:part name="parameters" element="tns:FibResponse" />
  </wsdl:message>
  <wsdl:message name="BmiSoapIn">
    <wsdl:part name="parameters" element="tns:Bmi" />
  </wsdl:message>
  <wsdl:message name="BmiSoapOut">
    <wsdl:part name="parameters" element="tns:BmiResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpName" />
  </wsdl:message>
  <wsdl:message name="GetEmpNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteNameSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteName" />
  </wsdl:message>
  <wsdl:message name="DeleteNameSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllData" />
  </wsdl:message>
  <wsdl:message name="GetAllDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllDataResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewDataSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewData" />
  </wsdl:message>
  <wsdl:message name="AddNewDataSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BubbleSort">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">泡泡排序法 </wsdl:documentation>
      <wsdl:input message="tns:BubbleSortSoapIn" />
      <wsdl:output message="tns:BubbleSortSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Fib">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">費氏數列 </wsdl:documentation>
      <wsdl:input message="tns:FibSoapIn" />
      <wsdl:output message="tns:FibSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Bmi">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BMI</wsdl:documentation>
      <wsdl:input message="tns:BmiSoapIn" />
      <wsdl:output message="tns:BmiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得員工姓名</wsdl:documentation>
      <wsdl:input message="tns:GetEmpNameSoapIn" />
      <wsdl:output message="tns:GetEmpNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">刪除員工姓名</wsdl:documentation>
      <wsdl:input message="tns:DeleteNameSoapIn" />
      <wsdl:output message="tns:DeleteNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">取得所有資料內容</wsdl:documentation>
      <wsdl:input message="tns:GetAllDataSoapIn" />
      <wsdl:output message="tns:GetAllDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">新增員工</wsdl:documentation>
      <wsdl:input message="tns:AddNewDataSoapIn" />
      <wsdl:output message="tns:AddNewDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改資料</wsdl:documentation>
      <wsdl:input message="tns:UpdateDataSoapIn" />
      <wsdl:output message="tns:UpdateDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BubbleSort">
      <soap:operation soapAction="http://tempuri.org/BubbleSort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fib">
      <soap:operation soapAction="http://tempuri.org/Fib" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bmi">
      <soap:operation soapAction="http://tempuri.org/Bmi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpName">
      <soap:operation soapAction="http://tempuri.org/GetEmpName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteName">
      <soap:operation soapAction="http://tempuri.org/DeleteName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <soap:operation soapAction="http://tempuri.org/GetAllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewData">
      <soap:operation soapAction="http://tempuri.org/AddNewData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap:operation soapAction="http://tempuri.org/UpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BubbleSort">
      <soap12:operation soapAction="http://tempuri.org/BubbleSort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fib">
      <soap12:operation soapAction="http://tempuri.org/Fib" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bmi">
      <soap12:operation soapAction="http://tempuri.org/Bmi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpName">
      <soap12:operation soapAction="http://tempuri.org/GetEmpName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteName">
      <soap12:operation soapAction="http://tempuri.org/DeleteName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllData">
      <soap12:operation soapAction="http://tempuri.org/GetAllData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewData">
      <soap12:operation soapAction="http://tempuri.org/AddNewData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap12:operation soapAction="http://tempuri.org/UpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44378/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44378/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>